/* mobile 미디어쿼리 */
@media only screen and (max-width: 480px) {
    html {
      overflow-x: hidden;
    }
  
    html nav {
      zoom: 0.75;
      top: 2%;
      margin-top: 15vw;
      font-family: Helvetica, Sans-Serif;
    }
  
    body .intro-img {
      margin-top: 7vw;
    }
  
    body .img-gallery-text {
      margin-top: 18vw;
      margin-bottom: -5vw;
    }
  
    body .img-gallery {
      zoom: 5;
    }
  
    body .projects-text {
      margin-top: 20vw;
    }
  
    body .skills-text {
      margin-top: 20vw;
    }
  
    body .contact-wrap {
      margin-top: 20vw;
      margin-bottom: 12vw;
      flex-wrap: nowrap;
      flex-direction: column;
    }
  
    body .line {
      display: none;
    }
  
    body .contact-b {
      width: 70%;
      margin-top: 5vw;
      margin-left: 8vw;
      line-height: 4vw;
    }
  
    body .contact {
      width: 65%;
      margin-left: 8vw;
      margin-top: 8vw;
      display: flex;
      justify-content: space-between;
    }
  
    body .top-button {
      display: none;
    }
  
    body .left {
      zoom: 0.65;
    }
  
    body .center {
      zoom: 0.7;
      width: 70%;
    }
  
    body .right {
      zoom: 0.85;
      display: flex;
      margin-left: -15vw;
    }
  
    body .social-icon {
      padding-left: 3vw;
    }
  }
  
  
  /* 태블릿 미디어쿼리 */
  @media (min-width: 768px) and (max-width: 1024px) {
    html {
      overflow-x: hidden;
    }
  
    html nav {
      zoom: 1.3;
      top: 2%;
      font-family: Helvetica, Sans-Serif;
    }
  
    body .top-button {
      display: none;
    }
  
    body .line {
      opacity: 40%;
    }
  
    body .img-gallery-text {
      zoom: 1.5;
    }
  
    body .projects-text {
      margin-top: 20vw;
    }
  
    body .skills-text {
      margin-top: 20vw;
    }
  
    body .contact-wrap {
      margin-top: 20vw;
      margin-bottom: 10vw;
    }
  
    body .thumbnail-text-wrap {
      zoom: 1.2;
      top: -10vw;
      width: 30vw;
      line-height: 1.5vw;
    }
  
    body .thumbnail-text-wrap,
    .thumbnail-img {
      justify-content: center;
    }
  
    body thumbnail-h {
      line-height: 3vw;
    }
  }
  
  /* Desktop 미디어쿼리 */
  @media only screen and (min-width: 2000px) {
    html {
      overflow-x: hidden;
    }
  
    html nav {
      zoom: 0.7;
    }
  
    html nav li {
      display: inline;
      list-style-type: none;
      margin: 0 50px;
    }
  
    .center {
      zoom: 0.75;
    }
  
    body .right {
      margin-left: 53vw;
      letter-spacing: 0.1vw;
      font-size: 0.7vw;
    }
  
    body .top-button {
      bottom: 4.8vw;
    }
  }
  
  /* ---------------------------------------------- */
  
  
  /* header */
  nav {
    width: 100%;
    padding: 0;
    top: 20vw;
    /* left: 35%; */
    margin: auto;
    text-align: center;
    /* position: fixed; */
    z-index: 3;
    margin-bottom: 8vw;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    list-style-type: none;
    margin: 0 3px;
  }
  
  nav a {
    text-align: center;
    margin: auto;
    font-size: 0.9vw;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px 30px;
  }
  
  nav a:hover {
    opacity: 50%;
  }
  
  /* ----------------------------------------------------------------------- */
  @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
  
  body {
    font-family: 'Pretendard';
    -webkit-animation: fadein 2.5s;
    overflow-x: hidden;
    /* cursor: url('https://ifh.cc/g/zQtf3N.png'), auto; */
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  body::-webkit-scrollbar {
    width: 0.6vw;
    /* 스크롤바의 너비 */
  }
  
  body::-webkit-scrollbar-thumb {
    height: 30%;
    /* 스크롤바의 길이 */
    background: #5666af;
    /* 스크롤바의 색상 */
  
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);
    /*스크롤바 뒷 배경 색상*/
  }
  
  .intro-img {
    text-align: center;
    margin: auto;
    margin-top: -1vw;
    margin-bottom: 4vw
  }
  
  .top-button {
    position: fixed;
    bottom: 5.4vw;
    right: 3vw;
    z-index: 16;
  }
  
  .resume-button {
    font-size: 4vw;
    margin-left: 88vw;
    margin-top: 2vw;
  }
  
  .resume-button>a {
    text-decoration: none;
    color: black;
  }
  
  .resume-button>a:hover {
    text-decoration: underline;
  }
  
  .img-gallery-text {
    margin-top: 3vw;
    font-size: 1.1vw;
    width: 100%;
    text-align: center;
    line-height: 1.9vw;
  }
  
  .img-gallery {
    width: 100%;
    margin-top: 2vw;
    text-align: center;
  }
  
  /* .gallery-img:hover {
    transform: scale(1.4);
    transition: all .2s ease-in-out;
  } */
  
  .line {
    width: 100%;
    height: 0.05vw;
    background-color: rgb(54, 54, 54);
    margin-bottom: 2vw;
    text-align: center;
  }
  
  /* projects */
  .thumbnail-img {
  }
  
  .projects-text {
    font-size: 4vw;
    margin-left: 8vw;
    margin-top: 10vw;
    margin-bottom: 1vw;
  }
  
  .projects-wrap {
    width: 90%;
    margin: auto;
    margin-top: 4vw;
  }
  
  projects-icon {
    padding-left: 60vw;
    /* color: aquamarine; */
  }
  
  .thumbnail-wrap-pb, .thumbnail-wrap-sillim {
  }
  
  .thumbnail-wrap-web, .thumbnail-wrap-me {
  }
  
  .a,
  .b {
    display: flex;
  }
  
  .b {
    margin-top: 5vw;
  }
  
  .thumbnail-img:hover {
    opacity: 60%;
    cursor: pointer;
    transition: 0.15s ease-in-out;
  }
  
  .thumbnail-text-wrap {
    margin-top: 1vw;
    width: 40vw;
  }
  
  thumbnail-h {
    margin: auto;
    font-size: 2vw;
    font-weight: 500;
  }
  
  thumbnail-h>a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  thumbnail-h:hover {
    /* text-decoration: underline;
    text-underline-position: under; */
    background-color: aquamarine;
    transition: 0.2s ease-in-out;
  }
  
  thumbnail-b-1 {
    margin: auto;
    font-size: 1.1vw;
    font-weight: 400;
    margin-top: 3vw;
    color: rgb(146, 146, 146);
  }
  
  
  /* skills */
  .skills-text {
    font-size: 4vw;
    margin-left: 8vw;
    margin-top: 18vw;
    position: absolute;
  }
  
  .skills {
    margin-top: 10vw;
    text-align: center;
    margin-bottom: 10vw;
    position: relative;
  }
  
  .skills-icon {}
  
  /* contact */
  .contact-text {
    font-size: 4vw;
    margin-left: 8vw;
    margin-top: 10vw;
  }
  
  .contact-wrap {
    display: flex;
    margin-top: 4vw;
  }
  
  .contact-text {
    font-size: 4vw;
    margin-left: 8vw;
    margin-top: 1vw;
    animation: updown 1s infinite ease-in-out alternate;
  }
  
  .contact-b {
    width: 20vw;
    font-size: 1vw;
    font-weight: 500;
    line-height: 2vw;
    margin-left: 4vw;
    margin-top: 2vw;
    color: rgb(0, 0, 0);
  }
  
  contact-highlight {
    background-color: aquamarine;
  }
  
  .contact {
    margin-bottom: 15vw;
    width: 100%;
    height: auto;
    font-size: 3.5vw;
    margin-left: 10vw;
    line-height: 8vw;
  }
  
  .contact>a {
    color: black;
    text-decoration: underline;
    text-underline-position: under;
  }
  
  .contact>a:hover {
    opacity: 60%;
  }
  
      /* 위아래 animation keyframes */
      @keyframes updown{
        from{
          transform: translatey(0px);
        }
        to{
          transform: translatey(-5px);
        }
      }
  
  /* footer */
  footer {
    width: 100%;
    height: auto;
    padding-top: 2vw;
    padding-bottom: 1vw;
    background-color: #ffffff;
    margin: auto;
    bottom: 0;
    margin: 0;
    left: 0;
    display: flex;
    position: fixed;
    z-index: 15;
  }
  
  
  .left,
  .center,
  .right {
    align-content: center;
    color: rgb(0, 0, 0);
    font-size: 0.7vw;
  }
  
  .social-icon {
    zoom: 1.5;
    color: rgb(0, 0, 0);
    padding-left: 1vw;
    color: rgb(69, 69, 144);
  }
  
  .social-icon :hover {
    opacity: 50%;
  }
  
  
  .left {
    margin-left: 10vw;
  }
  
  .center {
    font-size: 0.8vw;
    margin-left: 5vw;
    font-weight: 600;
  }
  
  .right {
    margin-left: 40vw;
    letter-spacing: 0.1vw;
    font-size: 0.8vw;
  }